@import "../../../theme/sass-colors-palette.scss";


.container {
    margin-left: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 400px;
}

.button-container {
    background-color: $primary-100;
    width: 200px;
    height: 200px;

    .button {
        min-width: 88px;
    }

    .first-button {
        margin-top: 20%;
        margin-left: 30%;
    }
    
    .second-button {
        margin-top: 10%;
        margin-left: 30%;
    }
}

.colored-div {
    background-color: $primary-700;
    width: 200px;
    height: 200px;
}