@use "@angular/material" as mat;
@import "./sass-colors-palette.scss";

@include mat.core();

$contrast: (
  50: $contrast-50,
  100: $contrast-100,
  200: $contrast-200,
  300: $contrast-300,
  400: $contrast-400,
  500: $contrast-500,
  600: $contrast-600,
  700: $contrast-700,
  800: $contrast-800,
  900: $contrast-900
);

$primary-palette: (
  50: $primary-50,
  100: $primary-100,
  200: $primary-200,
  300: $primary-300,
  400: $primary-400,
  500: $primary-500,
  600: $primary-600,
  700: $primary-700,
  800: $primary-800,
  900: $primary-900,
  contrast: $contrast
);

$accent-palette: (
  50: $accent-50,
  100: $accent-100,
  200: $accent-200,
  300: $accent-300,
  400: $accent-400,
  500: $accent-500,
  600: $accent-600,
  700: $accent-700,
  800: $accent-800,
  900: $accent-900,
  contrast: $contrast
);

$alert-palette: (
  50: $alert-50,
  100: $alert-100,
  200: $alert-200,
  300: $alert-300,
  400: $alert-400,
  500: $alert-500,
  600: $alert-600,
  700: $alert-700,
  800: $alert-800,
  900: $alert-900,
  contrast: $contrast
);

$error-palette: (
  50: $error-50,
  100: $error-100,
  200: $error-200,
  300: $error-300,
  400: $error-400,
  500: $error-500,
  600: $error-600,
  700: $error-700,
  800: $error-800,
  900: $error-900,
  contrast: $contrast
);

$sky-palette: (
   50: $sky-50,
  100: $sky-100,
  200: $sky-200,
  300: $sky-300,
  400: $sky-400,
  500: $sky-500,
  600: $sky-600,
  700: $sky-700,
  800: $sky-800,
  900: $sky-900,
  contrast: $contrast
);

$primary: mat.define-palette($primary-palette, 700);

$accent: mat.define-palette($accent-palette, 700);

$alert: mat.define-palette($alert-palette, 800);

$error: mat.define-palette($error-palette, 500);

$sky: mat.define-palette($sky-palette, 700);

// Define a light theme
$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $error,
      alert: $alert,
      primary-sky: $sky
    ),
    density: 0
  )
);

@include mat.core-theme($light-theme);

@include mat.all-component-themes($light-theme);
